<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <h4><%= product_order.product.name %></small></h4>
    </div>
    <div class="col-xs-4">
      <%= form_for product_order, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency product_order.product.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product_order.product_id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
        </div>
            <%= link_to "delete", product_order, method: :delete,
                                       data: { confirm: "You sure?" } %>
      <% end %>
    </div>
  </div>
</div>
