<div class="col-md-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= link_to product.name, product %></h5>
      <p class="card-text"><%= product.description%></p>
      price: <%= content_tag :del, product.price %>
      <%= content_tag :span, product.sale_price %> <br>
      <%= form_for current_order.product_orders.build do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
        <%= f.submit "Add to cart", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

